<link rel="stylesheet" type="text/css" href="/styles/partials/navbar.css">

	<nav>
	
		<div id="nav-quangphan">
			<p>
				<span>q<span class="led-flicker">u</span><span class="led-off">a</span>n<span class="led-flicker">g</span></span>
				<span>ph<span class="led-flicker">a</span><span class="led-off">n</span></span>
			</p>
			<a href="#"> <img id="nav-avatar" class="hover-scale" src="/images/nav-avatar.gif" alt="avatar"></a>	
		</div>	
			
		<div id="nav-main">
			<input type="checkbox" id="collapse-check">
			<label for="collapse-check"><img id="nav-ham" src="/images/icon-hamburger.png" alt="hamburger"></label>	
		
			<div id="nav-links">
						<!-- <a class="nav-link" href="#">Projects</a>
			
						<a class="nav-link" href="#">Gallery</a>
			
						<a class="nav-link" href="#">Blog</a>
			
						<a class="nav-link" href="#">About</a> -->
			</div>

			<div id="nav-socials">
				<a class="nav-social" href="https://www.linkedin.com/in/vnphanquang" target="_blank"><img src="/images/socials/social-icon-linkedin.gif" alt="linkedin"></a>
				<a class="nav-social" href="https://github.com/vnphanquang" target="_blank"><img src="/images/socials/social-icon-github.gif" alt="github"></a>
			</div>
		</div>
	
	</nav>