# Ohter Projects and Miscellaneous
gitignore/

# Contact Request Failure Log
contact-failure-log.txt

# Forever Logs
forever-quang-log

# Local Development

# local app.js
app-local.js

## ENVIRONMENT_VARIABLES
.env

## Eclipse IDE
/.project
.settings/

## VS Code IDE
.vscode
.vs

## Node
node_modules/


