@font-face {
  font-family: "Audiowide";
  src: url("/fonts/Audiowide-Regular.ttf");
}

@font-face {
  font-family: "Libre Barcode 128";
  src: url("/fonts/LibreBarcode128Text-Regular.ttf");
}
/* ----------------------------------------------------------- */
html {
  scroll-behavior: auto; /* fallback */
  scroll-behavior: smooth;
}

body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%239C92AC' fill-opacity='0.03' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  background-color: #3b393a;
  margin: 0;
  font-family: "Audiowide", 'Courier New', Courier, monospace;
  color: white;
}

header {
  background-color: #3b393a;
  width: 100%;
  position: relative;
}

.active-scale:active {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(.95);
          transform: scale(.95);
}
.hover-scale:hover {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.hover-scale:active {
  -webkit-transform: none;
          transform: none;
}

/* ----------------------------------------------------------- */
#pq-hero-container {
  font-size: 2.5vw;
  position: absolute;
  top: 10%;
  left: 60%;
}

.pq-cursor::before {
  content: "|";
  color: transparent;
  background-color: orange;
  -webkit-animation: blink-caret 0.8s ease infinite;
          animation: blink-caret 0.8s ease infinite;
}

#header-socials {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 2%;
}
#header-socials>a>img {
  max-width: 50px;
  width: 4vw;
  min-width: 25px;
}
#header-socials>a {
  position: relative;
  margin: .25vw 0;
  opacity: 0;
  left: -200%;
}
#header-socials>a:nth-of-type(2) {
  -webkit-animation: social-slide-in 1s ease .5s forwards;
          animation: social-slide-in 1s ease .5s forwards;
}
#header-socials>a:nth-of-type(1) {
  -webkit-animation: social-slide-in 1s ease .75s forwards;
          animation: social-slide-in 1s ease .75s forwards;
}

header>img {
  max-width: 100%;
  max-height: 100vh;
  display: block;
  margin: auto;
  opacity: 0;
  -webkit-animation: fade-in 500ms ease 200ms forwards;
          animation: fade-in 500ms ease 200ms forwards;
}

header>a {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  
  bottom: -4rem;
  opacity: 0;
  -webkit-animation: slide-up 500ms ease 100ms forwards;
          animation: slide-up 500ms ease 100ms forwards;
}

#mouse-svg {
	max-width: 30px;
	width: 100%;
  height: auto;
}
#mouse-svg>rect {
  fill: #212121;
}
#mouse-svg>circle {
  -webkit-animation-name: scroll;
          animation-name: scroll;
	-webkit-animation-duration: 1.5s;
	        animation-duration: 1.5s;
	-webkit-animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	        animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 20.5px;
	        transform-origin: 50% 20.5px;
	will-change: transform, opacity;
	opacity: 1;
}

/* ----------------------------------------------------------- */

header > h1 {
  position: relative;
  text-align: center;
  top: 50%;
}

/*Carousel - Projects */

.carousel.projects {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%239C92AC' fill-opacity='0.01' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  height: 670px;
  background-color: #212121;
  padding: 2.8vw 1.4vw;
}
.carousel-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin: 0 auto 2vw;
}
.carousel-btns>img {
  max-height: 80px;
  min-height: 40px;
  cursor: pointer;
  padding: 5px;
  opacity: .5;
}
.carousel-btns>img:hover {
  opacity: .75;
}

.carousel-btns>img.project-active {
  border-bottom: solid 6px rgb(224, 141, 16);
  opacity: 1;
}

.slide-container {
  position: relative;

}
/* ---------------------- Slide Configuration ---------------------- */
.slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* margin: 0 auto 3vw; */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 20px;
  width: 1300px;
}
.slide-right, .slide-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slide-right.slide-image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slide-content {
  color: #bcbcbc;
  
}
.slide-title {
  line-height: 40px;
  font-size: 40px;
  font-weight: bold;
  margin: 2vw auto;
  width: 100%;
}

.slide-content {
  margin: 1vw 0 3vw;
}

.slide-right>a {
  position: relative;
}
.slide-right:hover>a>img {
  opacity: .25;
}
.slide-right:hover>a>p {
  visibility: visible;
  color: white;
}
.slide-right>a>p {
  position: absolute;
  visibility: hidden;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide-more {
  border-radius: 3px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  line-height: 100px;
  text-align: center;
  background-color: #b43131;
}
.slide-more:hover {
  color: black;
  background-color: rgb(173, 169, 169);
}
/* ---------------------- pq project ---------------------- */

.slide-title.pq>span {
  display: inline-block;
  vertical-align: bottom;
  font-family: "Libre Barcode 128", 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 2px;
}
.slide-content.pq>p {
  clear: both;
}
.slide-content.pq>p>img {
  max-width: 150px;
  float: right;
  padding: 10px;
}

.slide-right.pq>a>p {
  font-size: 30px;
  top: 15%;
}
.slide-right.pq>a>img {
  max-height: 500px;
  width: 500px;
}

/* ---------------------- Multiclip Project ---------------------- */
.slide.multiclip {
  display: none;
}
.slide-right.multiclip>a>p {
  font-size: 25px;
  top: 40%;
}
/* ---------------------- Crossword Project ---------------------- */
.slide.crossword {
  display: none;
}
.slide-right.crossword>a>img {
  width: 450px;
}

/* ---------------------- Contact ---------------------- */
#contact, #contact-form, #form-tabs, .form-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contact {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%239C92AC' fill-opacity='0.04' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 40px;
  background-color: #212121;
  overflow: hidden;
}

#mail-truck{
  margin: 0;
  width: 280px;
  height: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  
}

#mail-truck>div {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .75;
}
#mail-truck>div.run {
  animation: drive-across 3s cubic-bezier(.43,.09,.42,1.05);
}

#mail-truck>div:hover {
  opacity: 1;
}

#mail-truck>div>#truck-shadow {
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 80px;
  height: 6px;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);

  border-radius: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}

#contact-again {
  position: absolute;
  margin: 0;
  visibility: hidden;
}

.swing {
  background-color: #cf4a43;
  width: 200px;
  height: 100px;
  -webkit-animation: swing ease-in-out 1s infinite alternate;
          animation: swing ease-in-out 1s infinite alternate;
  -webkit-transform-origin: center -20px;
          transform-origin: center -20px;
  float: left;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  opacity: .75;
  cursor: pointer;
}
.swing:hover {
  opacity: 1;
}

.swing>p {
  width: 100%;
  font-size: 17px;
  text-align: center;
}
/*strings*/
.swing:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #cf4a43;
  top: -10px;
  left: 90px;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);

}

/* nail */
.swing:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 97.5px;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}
#contact>h1 { 
  font-size: 30px;
}

#contact-form {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  width: 600px;
  height: 245px;
  padding: 20px 30px;
  background-color: #212121;
  border: 0 none;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

  opacity: .75;
  visibility: hidden;
}

#contact-success, #contact-failure, #data-form {
  width: 100%;
}

#contact-success {
  display: none;
}

#contact-failure {
  display: none;
}

#form-tabs {
  position: relative;
}
.form-tab {
  height: 100px;
  width: 100%;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.form-tab>label {
  margin-bottom: 5px;
  letter-spacing: 1px;
}
.form-tab.email>input:invalid, .form-tab.message>textarea:invalid {
  background-color: #d35050;
}
.form-tab.name, .form-tab.email {
  position: absolute;
  visibility: hidden;
}
.form-tab>input {
  margin-top: 18.5px;
}

#pq-processed {
  height: 100px;
  width: 100%;
  text-align: center;
  display: none;
  font-size: 18px;
}

#form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 15px 0 10px;
}

#form-btns>:not(:last-child) {
  margin: 0 10px;
  outline: none;
  background-color: #555555;
  width: 100px;
  height: 40px;
  color: white;
  font: inherit;
  font-size: 15px;
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 1px rgba(29, 29, 29, 0.4);
          box-shadow: 0 0 5px 1px rgba(29, 29, 29, 0.4);
}

.form-previous, .form-submit{
  display: none;
}
.form-exit {
  outline: none;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  opacity: .5;
}
#contact-exit:hover {
  opacity: 1;
}

.form-tab>input, .form-tab>textarea {
  padding: 10px;
  background-color: #555555;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px 1px rgba(29, 29, 29, 0.4);
          box-shadow: 0 0 5px 1px rgba(29, 29, 29, 0.4);
}
.form-tab>input::-webkit-input-placeholder, .form-tab>textarea::-webkit-input-placeholder {
  color: white;
  opacity: .75;
}
.form-tab>input:-ms-input-placeholder, .form-tab>textarea:-ms-input-placeholder {
  color: white;
  opacity: .75;
}
.form-tab>input::-ms-input-placeholder, .form-tab>textarea::-ms-input-placeholder {
  color: white;
  opacity: .75;
}
.form-tab>input::placeholder, .form-tab>textarea::placeholder {
  color: white;
  opacity: .75;
}
.form-tab>input:focus, .form-tab>textarea:focus, .form-btns>button:active {
  outline: none;
  background-color: #354352;
}

#step-dots {
  -ms-flex-item-align: center;
      align-self: center;
}
.step-dot {
  height: 15px;
  width: 15px;
  margin: 10px 5px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.35;
  cursor: pointer;
}
.step-dot:hover {
  opacity: .75;
}
.step-dot.active {
  opacity: 1;
}

/* ---------------------- GeoLocation ---------------------- */
#geolocations {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
  padding: 10px 0;
}
#geolocations>img {
  width: 100%;
}

/* ---------------------- Media Queries ---------------------- */
@media only screen and (max-width: 1340px) {
  .carousel.projects {
    height: 51vw;
  }
  .carousel-btns {
    width: 52vw;
  }
  .carousel-btns>img {
    height: 5.97vw;
  }
  .slide {
    width: 90%;
  }
  .slide-title {
    font-size: 3vw;
    line-height: 3vw;
  }
  .slide-content {
    font-size: 1.49vw;
  }
  .slide-more {
    line-height: 7vw;
    font-size: 2vw;
  }

  .slide-content.pq>p>img {
    width: 11.2vw;
  }

  .slide-right.pq>a>img {
    width: 37.3vw;
  }

  .slide-right.multiclip>a>img {
    width: 32.3vw;
  }

  .slide-right.crossword>a>img {
    width: 33.5vw;
  }
}
@media only screen and (max-width: 980px) {
  #pq-hero-container {
    font-size: 2.75vw;
  }
  .carousel.projects {
    height: 460px;
  }
  .carousel-btns {
    width: 490px;
  }
  .carousel-btns>img {
    height: 58.5px;
  }
  .slide-left {
    width: 475px;
  }
  .slide-title {
    font-size: 29.4px;
    line-height: 29.4px;
  }
  .slide-content>p {
    font-size: 14.6px;
  }
  .slide-content.pq>p>img {
    width: 109.8px;
  }
  
  .slide-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .slide-right.pq {
    padding-top: 20px;
  }

  .slide-right.pq>a>img {
    width: 29vw;
  }
  .slide-right.multiclip>a>img {
    height: 100%;
  }
  .slide-right.multiclip>a>p {
    font-size: 2.4vw;
  }
  .slide-right>a>img {
    opacity: .5;
  }
  .slide-right>a>p {
    opacity: 1;
    visibility: visible;
    color: #bcbcbc;
  }
  .slide-right.pq>a>p { 
    top: 10%;
  }

  .slide-right.crossword>a>img {
    height: 95%;
  }
}
@media only screen and (max-width: 650px) {
  .carousel.projects {
    height: 420px;
  }
  #mouse-svg {
    display: none;
  }
  .carousel-btns {
    width: 75.3vw;
  }
  .carousel-btns>img {
    height: 9vw;
  }
  .slide-right {
    display: none;
  }
  .slide-left.pq {
    width: 80vw;
  }
  .slide-left.multiclip {
    width: 70vw;
  }
  .slide-title {
    font-size: 4.5vw;
    line-height: 4.5vw;
  }
  .slide-more.pq {
    line-height: 45px;
    font-size: 13px;
  }

  .slide-left.crossword {
    width: 70vw;
  }

  #contact-form {
    width: 92.3vw;
    padding: 3.5vw 4vw;
  }
}
@media only screen and (max-width: 325px) {
  .carousel.projects {
    height: 129vw;
  }
  .slide-content.pq>p>img {
    display: none;
  }
  .slide-title {
    margin: 15px 0 5px;
  }
  .slide-content.pq>p {
    font-size: 4.5vw;
  }
  .slide-more.pq {
    line-height: 13.8vw;
    font-size: 3.8vw;
  }
  .slide-left.multiclip {
    width: 85vw;
  }
  .slide-left.crossword {
    width: 85vw;
  }
}
/* ---------------------- Keyframes ---------------------- */
@-webkit-keyframes blink-caret {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes blink-caret {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
/* -------------------------------------------- */
@-webkit-keyframes social-slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes social-slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/* -------------------------------------------- */
@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1}
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1}
}
/* -------------------------------------------- */
@-webkit-keyframes fade-out {
  100% { opacity: 0;}
}
@keyframes fade-out {
  100% { opacity: 0;}
}
/* -------------------------------------------- */
@-webkit-keyframes zoom-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: .75;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoom-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: .75;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* -------------------------------------------- */
@-webkit-keyframes zoom-out {
  0% {
    opacity: .75;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes zoom-out {
  0% {
    opacity: .75;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
/* -------------------------------------------- */
@-webkit-keyframes slide-up{
  0% {
    opacity: 0;
  }
  100% {
    bottom: 1rem;
    opacity: 1;
  }
}
@keyframes slide-up{
  0% {
    opacity: 0;
  }
  100% {
    bottom: 1rem;
    opacity: 1;
  }
}
/* -------------------------------------------- */
@-webkit-keyframes scroll {
	0%, 20% {
		-webkit-transform: translateY(0) scaleY(1);
		        transform: translateY(0) scaleY(1);
	}

	100% {
		-webkit-transform: translateY(36px) scaleY(2);
		        transform: translateY(36px) scaleY(2);
		opacity: 0;
	}

}
@keyframes scroll {
	0%, 20% {
		-webkit-transform: translateY(0) scaleY(1);
		        transform: translateY(0) scaleY(1);
	}

	100% {
		-webkit-transform: translateY(36px) scaleY(2);
		        transform: translateY(36px) scaleY(2);
		opacity: 0;
	}

}
/* -------------------------------------------- */
@-webkit-keyframes slide-in-from-top {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-from-top {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/* -------------------------------------------- */
@-webkit-keyframes slide-in-from-bottom {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-from-bottom {
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
/* -------------------------------------------- */
@-webkit-keyframes slide-out-to-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
    opacity: 0;
  }
}
@keyframes slide-out-to-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
    opacity: 0;
  }
}
/* -------------------------------------------- */
@-webkit-keyframes slide-out-to-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
}
@keyframes slide-out-to-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
}
/* -------------------------------------------- */
@-webkit-keyframes mail-out {
  0% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0) translate(100%, -225%);
            transform: scale(0) translate(100%, -225%);
    opacity: 0;
  }
}
@keyframes mail-out {
  0% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0) translate(100%, -225%);
            transform: scale(0) translate(100%, -225%);
    opacity: 0;
  }
}
@-webkit-keyframes mail-in {
  0% {
    -webkit-transform: scale(0) translate(100%, -225%);
            transform: scale(0) translate(100%, -225%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes mail-in {
  0% {
    -webkit-transform: scale(0) translate(100%, -225%);
            transform: scale(0) translate(100%, -225%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}
/* -------------------------------------------- */
@-webkit-keyframes shake {
  8%, 41% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
  }
  25%, 58% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
  }
  75% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
  }
  92% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
  }
  0%, 100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
  }
}
@keyframes shake {
  8%, 41% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
  }
  25%, 58% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
  }
  75% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
  }
  92% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
  }
  0%, 100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
  }
}
/* -------------------------------------------- */
@keyframes drive-across {
  0% {
    right: 0;
  }


  2%, 18% {
    right: .5px;
    transform: rotate(2deg);
  }
  4%, 16% {
    right: -1px;
  }
  6%, 10%, 14% {
    right: 2px;
  }
  8%, 12% {
    right: -2px;
    transform: rotate(-2deg);
  }

  20% {
    right: 0vw;
    transform: none;
  }

  60% {
    right: -50vw;
  }
  60.001% {
    right: 60vw;
  }
  100% {
    right: 0vw;
  }
}
/* -------------------------------------------- */
@-webkit-keyframes swing {
  0% { -webkit-transform: rotate(3deg); transform: rotate(3deg); }
  100% { -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
}
@keyframes swing {
  0% { -webkit-transform: rotate(3deg); transform: rotate(3deg); }
  100% { -webkit-transform: rotate(-3deg); transform: rotate(-3deg); }
}
/* @-ms-keyframes
@-o-keyframes
@-moz-keyframes
@-webkit-keyframes */